@font-face {
    font-family: 'GeometriaBolt';
    src: url(../fonts/Geometria-Bold.otf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/ofont.ru_Roboto\ Light.ttf);
}

html {
    scroll-behavior: smooth;
}

/* Для WebKit браузеров (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #99CEFF;
    border-radius: 10px;
    border: solid 2px white;
}

/* Для Firefox */
::-moz-scrollbar {
    width: 10px;
}

::-moz-scrollbar-thumb {
    background-color: #99CEFF;
    border-radius: 10px;
    border: solid 2px white;
}

/* Для Internet Explorer */
::-ms-scrollbar {
    width: 10px;
}

::-ms-scrollbar-thumb {
    background-color: #99CEFF;
    border-radius: 10px;
    border: solid 2px white;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, rgba(10, 134, 200, 0) 5.9%, rgba(8, 133, 199, 0.47) 54.9%, rgba(9, 134, 200, 0) 100%);
    background-size: 100% 50%;
    transition: all .3s ease;
    background: #CBEDFF;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --min-width: 300px;
    --max-width: 1171px;
}

.firstSection,
.secondSection,
.thirdSection,
.fourthSection {
    width: clamp(var(--min-width), 100%, var(--max-width));
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    body {
        background-image: url(../images/mobileBackground_1.png), url(../images/mobileBackground_2.png), linear-gradient(180deg, rgba(10, 134, 200, 0) 5.9%, rgba(8, 133, 199, 0.47) 54.9%, rgba(9, 134, 200, 0) 100%);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: auto, auto, 100% 50%;
        background-position: 100% 14%, 100% 85%, 0 0;
        transition: all .3s ease;
    }
}

@media (min-width: 1024px) and (max-width: 2460px) {
    body {
        background-image: url(../images/background_1.png), url(../images/background_2.png), linear-gradient(180deg, rgba(10, 134, 200, 0) 5.9%, rgba(8, 133, 199, 0.47) 54.9%, rgba(9, 134, 200, 0) 100%);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: auto, auto, 100% 50%;
        background-position: 100% 64%, 0 75%, 0 0;
        transition: all .3s ease;
    }
}

h1 {
    font-size: 128px;
    font-family: 'GeometriaBolt';
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-family: 'GeometriaBolt';
    font-weight: 700;
    line-height: 30.19px;
}

h3 {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 20px;
    color: #000000;
}

p {
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 25px;
    font-weight: 300;
    color: #000000;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.open {
    display: flex !important;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 89px;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1000;
    background: #CBEDFF;
}

.logo {
    height: 100%;
    padding-left: 5vw;
    transition: all 0.3s ease;
    padding-top: 2vh;
    z-index: 1000;
}

/* ------------------------------- Анимация навигации \/ ------------------------------- */

nav span,
footer span {
    position: relative;
}

nav span:before,
nav span:after,
footer span:before,
footer span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 100%;
    margin-top: -0.5px;
    background: #fff;
}

nav span:before,
footer span:before {
    left: -3px;
}

nav span:after,
footer span:after {
    right: 3px;
    background: #000000;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

nav span:hover:before,
footer span:hover:before {
    background: #000000;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

nav span:hover:after,
footer span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

nav span:active,
footer span:active {
    opacity: 0.1;
    transition: all .1s ease;
}


/* ------------------------------- Анимация навигации /\ ------------------------------- */

header ul li:nth-child(1) {
    padding-left: 280px;
}

header nav {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    padding: 0 20px;
    width: 100%;
    justify-content: flex-end;
    z-index: 100;
}

header nav ul {
    list-style: none;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    padding-right: 36px;
    flex-shrink: 0;
}

.burger {
    display: none;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: flex-end;
    width: 28px;
    height: 22px;
    cursor: pointer;
    margin-top: 12px;
    margin-right: 24px;
}

.burger span {
    height: 7%;
    width: 100%;
    transform: scale(1);
    background-color: black;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: black;
    transition: all 3ms ease 0s;
}

.blur {
    animation: burgerAnimation 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    display: none;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0px;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: all 0.3s ease;
    background-color: white;
}

.burger.active::after {
    bottom: 40%;
    transform: rotate(-45deg);
    transition: all 0.3s ease;
    background-color: white;
}

.blur.active {
    display: block;
}

@media (max-width: 1024px) {

    header {
        min-height: 36px;
    }

    .burger {
        display: flex;
    }

    header nav {
        display: none;
        width: 155px;
        height: 330px;
        border-radius: 10px 0 10px 10px;
        padding-right: 0;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        background-color: #097EB9;
        animation: burgerAnimation 0.6s;
    }

    header .logo {
        padding-left: 5%;
        transition: all 0.3s ease;
    }

    header ul li:nth-child(1) {
        padding-left: 16px;
        padding-top: 32px;
    }

    header ul li:nth-child(4) {
        padding-right: 32px;
    }

    header ul li {
        padding-right: 16px;
    }

    header nav ul {
        flex-direction: column;
        text-align: right;
        align-items: center;
    }

    header h3 {
        color: #FFFFFF;
        line-height: 23.44px;
    }

    header a {
        color: white;
    }
}


@keyframes burgerAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* 11111111 */

.firstSection {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    padding-top: 89px;
}

@media (max-width: 1024px) {
    .firstSection {
        padding-top: 46px;
    }
}

.firstSection a:hover,
.fourthSectionLink:hover {
    box-shadow: 2px 2px 6px 0px #FF9C2880;
}

.firstSection a:active,
.fourthSectionLink:active {
    box-shadow: 2px 2px 6px 0px #B07B3C inset;
}

.forTextAndBtn {
    min-width: 1170px;
    height: 64px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 155px;
    transition: all 0.3s ease;
}

.companyName {
    display: flex;
    flex-direction: row;
}

.firstSection img {
    width: 191px;
    height: 264px;
    z-index: 20;
    padding-top: 140px;
    transform: translate(-25px);
    transition: all 0.3s ease;
}

.firstSection h1 {
    padding-top: 200px;
}

.calypso {
    z-index: 25;
    padding-left: 86px;
    transition: all 0.3s ease;
}

.aqua {
    z-index: 15;
    transform: translate(-105px);
    transition: all 0.3s ease;
}

.firstSection a,
.fourthSectionLink {
    background: #FF9C28;
    border-radius: 10px;
    width: 230px;
    height: 64px;
    box-shadow: 2px 2px 10px 0 rgba(145, 181, 215, 0.8);
    cursor: pointer;
}

.firstSectionText {
    text-align: left;
}

.firstSection a h3,
.fourthSectionLink h3 {
    color: white;
}


@media (max-width: 1280px) {
    .firstSection {
        height: 428px;
    }

    .forTextAndBtn {
        flex-direction: column;
    }

    h1 {
        font-size: 48px;
    }

    .firstSection img {
        width: 68.26px;
        height: 94.37px;
        padding-top: 140px;
        transform: translate(-100px, -50px);
        transition: all 0.3s ease;
    }

    .firstSection h1 {
        padding-top: 64px;
    }

    .calypso {
        padding-left: 10px;
        z-index: 15;
    }

    .aqua {
        transform: translate(-165px, 50px);
        z-index: 25;
    }

    .companyName {
        padding-left: 180px;
    }

    .forTextAndBtn {
        min-width: 300px;
        max-height: 231px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
        padding-top: 0;
        transition: all 0.3s ease;
    }

}

@media (max-width: 1280px) and (min-width: 768px) {
    .companyName {
        padding-left: 50px;
    }

    .forTextAndBtn {
        padding-top: 76px;
    }

    .forTextAndBtn a {
        margin-top: 107px;
    }

    .calypso,
    .aqua,
    .companyName img {
        margin: 0;
        padding: 0;
        transform: unset;
    }

    .companyName img {
        transform: translate(-10px, 50px);
        z-index: 1;
    }

    .calypso {
        z-index: 10;
    }

    .aqua {
        transform: translateX(-42px);
        z-index: -5;
    }
}

@media (max-width: 768px) {

    .companyName {
        transform: translateX(-50px);
        transition: all .3s ease;
        flex-direction: column;
        padding: 0;
        margin: 0;
        transition: all .3s ease;
    }

    .calypso,
    .aqua,
    .companyName img {
        margin: 0;
        padding: 0;
        transform: unset;
    }

    .companyName img {
        transform: translate(145px, -35px);
    }

    .aqua {
        transform: translate(105px, -160px);
    }
}

/* 2 */

.secondSection {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 226px;
    justify-content: center;
    transition: all 0.3s ease;
}

.secondSection h2 {
    align-items: start;
    margin: 0;
    padding-bottom: 40px;
}

.secondSection ul {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
}

.secondSectionImageUlFirst {
    max-width: 300px;
}

.sectionImg_1 {
    background: url(../images/2S_1.png);
    object-fit: cover;
    width: 300px;
    height: 223px;
    background-repeat: no-repeat;
}

@media (min-width:768px) {
    .secondSection {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .secondSectionImageUlFirst {
        max-width: 450px;
    }

    .sectionImg_1 {
        background: url(../images/second_768.png);
        width: 400px;
        height: 400px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: 600px;
    }
}

@media (max-width: 1280px) {
    .secondSection {
        width: clamp(var(--min-width), 90%, var(--max-width));
    }
}

@media (max-width: 768px) {
    .secondSection {
        flex-direction: column;
        justify-content: space-between;
    }

    .sectionImg_2,
    .sectionImg_3 {
        display: none;
    }

    .secondSectionImageUlFirst {
        max-width: 750px;
    }
}

@media (min-width: 1280px) {
    .secondSection {
        transition: all 0.3s ease;
    }

    h2 {
        font-size: 48px;
    }

    .secondSectionImageUlFirst {
        max-width: 350px;
    }

    .sectionImg_2,
    .sectionImg_3 {
        display: unset;
        background-repeat: no-repeat;
    }

    .sectionImg_1 {
        background: url(../images/2S_1_D.png);
        transition: all 0.3s ease;
    }

    .sectionImg_3 {
        background: url(../images/2S_3.png);
        object-fit: cover;
    }

    .sectionImg_2 {
        margin-right: 20px;
        margin-left: 60px;
        background: url(../images/omg.jpg);
        object-fit: cover;
        border-radius: 10px;
    }

    .sectionImg_1,
    .sectionImg_3 {
        width: 370px;
        height: 235px;
        border-radius: 10px;
    }

    .sectionImg_2 {
        width: 370px;
        height: 499px;
    }

    .secondSectionImageUl {
        width: 370px;
        height: 499px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.3s ease;
    }

    .secondSectionImageUl li {
        width: 370px;
        height: 235px;
    }
}


/* третий */
/* ----------------------------------------------- */

.thirdSection {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    /* min-width: 0; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.swiper {
    width: 100%;
    max-width: 1171px;
    height: 598px;
}

/* .swiper-slide:hover {
    transform: scale(1.01);
    transition: all .1s ease;
} */

.swiper h3,
.swiper p {
    color: #FFFFFF;
}

@media (max-width: 1171px) {
    .swiper {
        transform: translateX(5%);
    }
}

.swiper-slide {
    border-radius: 10px;
    cursor: grab;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-origin: border-box;
    background-clip: border-box;
    overflow: hidden;
}

.swiper-slide-hidden {
    opacity: 0;
}

#notFoundMessage {
    display: none;
    width: 50vw;
    height: auto;
    background-color: #097EB9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#notFoundMessage h3 {
    color: #FFFFFF;
}

.swiper-slide h3,
.swiper-slide p {
    position: absolute;
    margin: 0;
    padding: 0;
}

.swiper-slide h3 {
    bottom: 44px;
    width: 246px;
    left: 12px;
}

.swiper-slide p {
    right: 10px;
    bottom: 12px;
}

.searchContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.searchIcon {
    position: absolute;
    left: 16px;
    top: 14px;
    transition: all 0.3s ease;
    z-index: 60;
}

.searchContainer span {
    position: absolute;
    left: 56px;
    top: 15px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    line-height: 23.44px;
    text-align: left;
    color: #969696;
}

/* @media (max-width: 1024px) {
    .linkInLink::before {
        content: '';
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
    }
} */

.search {
    display: flex;
    flex-direction: row;
    width: clamp(var(--min-width), 90%, var(--max-width));
    height: 60px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

@media (min-width:1171px) {
    .search {
        width: clamp(var(--min-width), 100%, var(--max-width));
    }
}

.search input {
    background: #FFFFFF;
    width: 570px;
    height: 48px;
    border-radius: 10px;
    border: 2px solid #68A1D0;
    box-shadow: 4px 4px 10px 0px #79ACC7BF inset;
    transition: all 0.3s ease;
    padding-left: 15px;
    cursor: auto;
}

.search input.inputPadding {
    padding-left: 45px;
}

.searchField {
    font-size: 24px;
    font-family: 'Roboto';
    caret: black;
    caret-color: black;
    caret-shape: block;
}

.shrunk {
    transition: all 0.3s ease;
    transform: scale(0.81);
}

.transform {
    transition: all 0.3s ease;
    left: 560px;
}

/* --------------------------- */
.searchContainer {
    display: inline-block;
    vertical-align: middle;
}

/* --------------------------- */

.categories {
    display: flex;
    flex-direction: row;
    width: clamp(var(--min-width), 90%, var(--max-width));
    padding-top: 40px;
    padding-bottom: 22px;
}

@media (min-width: 1171px) {
    .categories {
        width: clamp(var(--min-width), 100%, var(--max-width));
    }
}

.categories ul {
    display: flex;
    padding: 0;
    margin: 0;
}


.categories ul li {
    margin-right: 30px;
    padding: 10px;
    border: 1px solid #0053A0;
    border-radius: 10px;
    flex-shrink: 0;
}

.linkInLink {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    line-height: 23.44px;
    text-align: left;
    color: #000000;
}

.thirdSection .categories li:hover {
    background: #679FCE;
    transition: all .3s ease;
}

.thirdSection .categories li:hover .linkInLink {
    color: #FFFFFF;
}

.activeBtnSecThird {
    background: #679FCE;
    box-shadow: 2px 2px 6px 0px #1C3B58CC inset;
}

.activeBtnSecThirdLink {
    color: #FFFFFF;
}

.inactive {
    background: none;
    color: #000000;
    box-shadow: none;
    transition: all .2s ease;
}

.thirdSection .categories li {
    cursor: pointer;
}

.prevBtn,
.nextBtn {
    width: 40px;
    height: 40px;
    background: #CBEDFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px 0px #0053A066;
    cursor: pointer;
}

.sectionThirdBtns {
    width: 1400px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin-top: 164px;
    transition: all .3s ease;
}

.nextBtn:hover {
    box-shadow: unset;
    transition: all .2s ease;
}

.prevBtn:hover {
    box-shadow: unset;
    transition: all .2s ease;
}

.nextBtn:active {
    box-shadow: 2px 2px 6px 0px #6491A9 inset;
    transition: all .2s ease;
}

.prevBtn:active {
    box-shadow: 2px 2px 6px 0px #6491A9 inset;
    transition: all .2s ease;
}

.prevBtn svg {
    margin-right: 7px;
}

.nextBtn svg {
    margin-left: 7px;
}

.seaNone {
    display: none;
}

@media (max-width: 1240px) {
    .search input {
        width: 162px;
        height: 28px;
    }

    .searchIcon {
        top: 21.4%;
    }

    .searchContainer span {
        top: 21.4%;
        left: 42px;
    }

    .transform {
        left: 97%;
    }

    .categories ul {
        flex-wrap: wrap;
    }

    .seaNone {
        display: unset;
    }

    .sea {
        display: none;
    }

    .categories a {
        font-size: 16px;
        line-height: 25px;
    }

    .categories ul li {
        margin-right: 8px;
        padding: 8px;
        margin-top: 8px;
    }

    .sectionThirdBtns {
        display: none;
        transition: all .3s ease;
    }
}


/* Четвертый */

.fourthSection {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: 140px;
    justify-content: center;
}

.fourthSection ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

iframe {
    border-radius: 10px;
    margin-top: 24px;
    width: 90vw;
    height: 235px;
    box-shadow: 2px 2px 6px 0px #0053A066;
}

.fourthSectionMap {
    display: none;
}

.fourthSection h2,
.fourthSectionText,
.fourthSectionImage {
    min-width: 300px;
    /* align-items: flex-start; */
}

.fourthSection h2 {
    margin: 0;
    padding-top: 64px;
    padding-bottom: 32px;
}

.fourthSectionImage svg {
    margin-right: 24px;
}

.fourthSectionLink {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

@media (max-width: 712px) {
    .fourthSection ul {
        align-items: flex-start;
        margin-left: 5%;
    }

    .fourthSection ul li:last-child {
        margin-left: calc(40vw - 100px);
    }
}

@media (min-width: 712px) {
    .fourthSection {
        flex-direction: row;
        justify-content: space-between;
        width: clamp(var(--min-width), 90%, var(--max-width));
    }

    .fourthSectionMapInUl {
        display: none;
    }

    .fourthSectionMap {
        display: unset;
    }

    iframe {
        width: 50vw;
        height: 450px;
        margin-top: 64px;
    }

    .fourthSection ul {
        align-items: left;
    }
}

@media (min-width: 1024px) {

    .fourthSection h2,
    .fourthSectionText,
    .fourthSectionImage {
        width: 235px;
    }

    .fourthSection ul {
        align-items: left;
    }

    .fourthSectionImage svg {
        width: 24px;
        height: 24px;
    }

    .fourthSection a {
        margin-top: 116px;
    }

    iframe {
        /* margin-top: 0; */
        width: 670px;
        height: 540px;
    }
}


/* Футер */

footer {
    margin-top: 65px;
    width: 100%;
    height: 94px;
    background: #99CEFF;
    display: flex;
    flex-direction: row;
    transition: all .3s ease;
}

.footerLogo {
    display: none;
}

.footerMobileLogo {
    margin-top: 20px;
    margin-left: 10px;
    transition: all .3s ease;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-right: 20px;
}

.doubleUl {
    display: flex;
    margin-left: 32px;
}

@media (min-width: 1024px) {
    footer {
        margin-top: 140px;
        height: 157px;
        transition: all .3s ease;
    }

    .footerLogo {
        display: unset;
        margin-top: 32px;
        margin-left: 135px;
        transition: all .3s ease;
    }

    .footerMobileLogo {
        display: none;
    }

    .doubleUl {
        margin-top: 16px;
        margin-left: 136px;
        transition: all .3s ease;
    }
}

/* -------------------------------------------------------------------------------------------------- */


/* https://github.com/chkrain/aqua.git */


/* * {
    outline: 1px solid red;
} */